<ion-content class="ion-content-full-screen" style="background-color: white;">
  <ion-grid>
    <ion-row class="rectangulo">
      <ion-col size="1"></ion-col>
        <ion-col class="ion-text-start"  style="color: white;" >CLIMATIZA TU ESPACIO</ion-col>
        <ion-col class="ion-text-center" style="color: white;"><ion-icon name="call"></ion-icon>+569 00000000</ion-col>
        <ion-col class="ion-text-end"    style="color: white;"><ion-icon name="logo-instagram"></ion-icon></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="rectangulo2">
      <ion-col size="1"></ion-col>
        <ion-col>
          <ion-button fill="clear">
            <img src="./../../assets/imagenes/logo-sin-fondo.png" alt="" height="150px" width="200px">
          </ion-button>
        </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <br><br><br><br><br><br><br><br><br>
    <ion-row class="rectangulo3">
      <ion-col size="1"></ion-col>
      <ion-col style="margin: 0;">
        <h1 style="font-weight: bold; font-size: 29px;" class="titulo">OFICINAS</h1>
      </ion-col>
      <ion-row>
      </ion-row>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col class="barra-uno"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col style="color: #696B6D;text-align: justify;">
        <p>
          Planificación y diseño: Las empresas especializadas en la instalación de aire acondicionado ofrecen servicios de planificación y diseño para garantizar una climatización eficiente12.
          <br><br><br>
          Selección de equipos: Existen diferentes tipos de aires acondicionados adecuados para oficinas, incluyendo los sistemas Split Muro, Split tipo Cassette, de Ventana y por Ductos. La elección depende del tamaño del espacio, el tráfico de personas y las condiciones de montaje2.
          <br><br><br>
          Instalación: La instalación debe ser realizada por profesionales para garantizar la eficiencia y seguridad del sistema123.
          <br><br><br>
          Mantenimiento y reparación: Las empresas también ofrecen servicios de mantenimiento y reparación para asegurar el buen funcionamiento del sistema a largo plazo12.
          <br><br><br>
          Eficiencia energética: Los sistemas de aire acondicionado modernos son eficientes en términos de energía, lo que puede resultar en ahorros a largo plazo1.
          <br><br><br>
        </p>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col>
        <img width="100%" height="860px" src="../../assets/imagenes/AireAcondicionadoOficina.jpg" >
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button  class="custom-button" expand="full" [routerLink]="['/home']">
          VOLVER A SERVICIOS
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
