<ion-content class="ion-content-full-screen" style="background-color: white;">
  <ion-grid>
    <ion-row class="rectangulo">
      <ion-col size="1"></ion-col>
        <ion-col class="ion-text-start"  style="color: white;" >CLIMATIZA TU ESPACIO</ion-col>
        <ion-col class="ion-text-center" style="color: white;"><ion-icon name="call"></ion-icon>+569 00000000</ion-col>
        <ion-col class="ion-text-end"    style="color: white;"><ion-icon name="logo-instagram"></ion-icon></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="rectangulo2">
      <ion-col size="1"></ion-col>
        <ion-col>
          <ion-button fill="clear">
            <img src="./../../assets/imagenes/logo-sin-fondo.png" alt="" height="150px" width="200px">
          </ion-button>
        </ion-col>
     




      <ion-col size="1"></ion-col>
    </ion-row>
    <br><br><br><br><br><br><br><br><br>
    <ion-row class="rectangulo3">
      <ion-col size="1"></ion-col>
      <ion-col style="margin: 0;">
        <h1 style="font-weight: bold; font-size: 29px;" class="titulo">AIRES ACONDICIONADOS INDUSTRIALES</h1>
      </ion-col>
      <ion-row>
      </ion-row>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col class="barra-uno"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col style="color: #696B6D;text-align: justify;">
        <p>
          <br><br>
          las ventajas del uso de aire acondicionado a nivel industrial, tales como:
         <br><br>
         - Control de la temperatura para mejorar la productividad y la calidad de los productos.
         <br><br>
         - Mejora de la calidad del aire para crear un ambiente saludable y seguro para los empleados.
         <br><br>
         - Regulación de la humedad para evitar problemas en ciertas industrias como la farmacéutica o la alimentaria.
         <br><br>
         - Aumento de la eficiencia y productividad de los trabajadores al sentirse más cómodos.
         <br><br>
         - Conservación de equipos y maquinaria sensibles al calor.
         <br><br>
         - Reducción de riesgos de seguridad en industrias con procesos químicos o maquinaria pesada.
         <br><br>
         - Cumplimiento normativo en industrias con regulaciones y estándares de seguridad y calidad.
         <br><br>
         - Mejora del bienestar de los empleados al aumentar su satisfacción y retener y atraer talento.
         <br><br>
         - Reducción de costos a largo plazo al ahorrar energía y reducir el desgaste de los equipos.
        </p>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col>
        <img width="100%" height="860px" src="../../assets/imagenes/AireAconcondicionadoIndustrial.jpg">
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button  class="custom-button" expand="full" [routerLink]="['/home']" >
          ATRAS
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
