<ion-content class="ion-content-full-screen" style="background-color: white;">
  <ion-grid>
    <ion-row class="rectangulo">
      <ion-col size="1"></ion-col>
        <ion-col class="ion-text-start"  style="color: white;" >CLIMATIZA TU ESPACIO</ion-col>
        <ion-col class="ion-text-center" style="color: white;"><ion-icon name="call"></ion-icon>+569 00000000</ion-col>
        <ion-col class="ion-text-end"    style="color: white;"><ion-icon name="logo-instagram"></ion-icon></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="rectangulo2">
      <ion-col size="1"></ion-col>
        <ion-col>
          <ion-button fill="clear">
            <img src="./../../assets/imagenes/logo-sin-fondo.png" alt="" height="150px" width="200px">
          </ion-button>
        </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <br><br><br><br><br><br><br><br><br>
    <ion-row class="rectangulo3">
      <ion-col size="1"></ion-col>
      <ion-col style="margin: 0;">
        <h1 style="font-weight: bold; font-size: 29px;" class="titulo">MANTECION</h1>
      </ion-col>
      <ion-row>
      </ion-row>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col class="barra-uno"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col style="color: #696B6D;text-align: justify;">
        <label>
          <br>
          En RVR Climatizacion E.I.R.L sabemos que la realización de un mantenimiento
          regular en un aire acondicionado tiene múltiples ventajas. Algunas de ellas son:
          <br><br>
          <p style="font-weight: bold;">Extensión de la vida útil del equipo:</p> Los aires acondicionados tienen una duración
          promedio de 12 años. Realizar revisiones periódicas ayuda a mantener el equipo en
          buen estado y a prevenir fallas que podrían acortar su vida útil.
          <br><br>
          <p style="font-weight: bold;">Seguridad y salud:</p> Los aires acondicionados procesan todo el aire que respiramos.
          Realizar mantenimiento ayuda a evitar la acumulación de polvo, bacterias y hongos
          en el interior del equipo, lo que puede afectar la calidad del aire que respiramos.
          <br><br>
          <p style="font-weight: bold;">Evita reparaciones de emergencia o la sustitución del equipo:</p> Realizar mantenimiento
          regular ayuda a detectar problemas antes de que se conviertan en fallas mayores, lo
          que puede ahorrarle dinero en reparaciones costosas o en la sustitución del equipo.
          <br><br>
          <p style="font-weight: bold;">Eliminación de malos olores:</p> La acumulación de polvo y bacterias en el interior del
          equipo puede generar malos olores. Realizar mantenimiento regular ayuda a eliminar
          estos olores y a mantener el aire fresco y limpio.
          <br><br>
          <p style="font-weight: bold;">Ahorro de dinero y eficiencia:</p> Un equipo que recibe mantenimiento regular funciona
          de manera más eficiente y consume menos energía. Esto puede traducirse en ahorros
          significativos en la factura de electricidad.
          <br><br>
          En RVR Climatizacion E.I.R.L  ofrecemos servicios de mantenimiento de aire
          acondicionado de alta calidad.
          <br><br>
          Nuestros técnicos altamente capacitados están disponibles
          para realizar mantenimiento preventivo y correctivo en su equipo de aire acondicionado.
          Ofrecemos precios competitivos y un servicio excepcional.
          <br><br>
          ¡Contáctenos hoy para programar una cita!
          <br><br>
        </label>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col>
        <img width="100%" height="860px" src="../../assets/imagenes/AireAcondicionadoMantencion.jpg" >
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button  class="custom-button" expand="full" [routerLink]="['/home']">
          ATRAS
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
